.mw_cart{
	.Left{
		display: none;
	}
	.Clear{
		display: none;
	}
	hr {
		background: #E4E4E4;
	}
	.SideRecentlyViewed{
		display: none;
	}
	#cartForm{
		> .FloatLeft{
			margin-top: 10px;
		}
		#mw_items{
			.mw_was_tbody{
				margin-bottom: 25px;
				> div{
					@include clearfix();
					background-color: #F2F2F2;
					border: 1px solid #C4C4C4;
					padding: 8px;
					.CartThumb{
						display: inline-block;
						img{
							border: 1px solid #E9E9E9;	
							width: 107px;
							height: 107px;
						}					
					}
					.ProductName{
						display: inline-block;
						width: 160px;
						vertical-align: top;
						font-size: 14px;
						text-decoration: underline;
						line-height: 140%;
					}
					.CartItemQuantity{
						text-align: left;
						display: inline-block;
						float: left;
						> div{
							display: inline-block;
							a{
								background-color: #E2E2E2;
								border: 1px solid #A9A9A9;
								color: #5D5D5D;
								@include border-radius(4px);
								padding: 2px 6px;
								font-size: 12px;
								margin: 0 3px;
							}
						}
					}
					.CartItemIndividualPrice{
						text-align: right;
						margin-top: 5px;
						.mw_item_label{
							color: #424748;
							font-size: 12px;
							font-weight: bold;												
						}
						.mw_item_price{
							color: #424748;
							font-size: 12px;
						}
					}
					.CartItemTotalPrice{
						margin-top: 5px;
						.mw_total_label{
							color: #35393A;
							font-size: 13px;	
							font-weight: bold;					
						}
						.ProductPrice{
							color: #F33;
							font-size: 13px;
							font-style: normal;
						}
					}
				}
			}
			.SubTotal{
				border-bottom: 1px solid #C7D7DB;
				text-align: right;
				font-size: 13px;
				> div {			
					color: #075899;
					display: inline-block;
					padding: 8px 3px 3px;
					font-weight: bold;
					em{
						color: #F33;
						font-weight: normal;
						font-style: normal;
					}
					.EstimateShippingLink{
						em{
							color: #075899;
							text-decoration: underline;
							font-style: italic;
						}
					}
				}
			} 
		}
	}
	#SideCouponCodeBox, #SideGiftCertificateCodeBox{
		margin-top: 20px;
		text-align: right;
		background-color: #FAFAFA;
		border-bottom: 1px solid #E4E4E4;
		> *{
			padding: 0 10px;
		}
		h2 {
			font-size: 14px;
			background-color: #E4E4E4;
			margin: 5px 0px 8px;
			padding: 8px 10px 6px;
			color: #353535;
		}
		form{
			margin-bottom: 15px;
		}
		hr{
			display: none;
		}
	}
	.ProceedToCheckout{
		text-align: center;
		margin-top: 20px;
	}
	.AlternativeCheckout{
		text-align: center;
		a {
			display: inline-block;
			background-color: #6a1800;
			color: white !important;
			width: 200px;
			@include border-radius(6px);
			font-size: 12px;
			padding: 5px 4px 4px;
			text-align: center;
			text-shadow: 1px 1px 0px #222;
		}
	}
	.KeepShopping{
		float: left;
		margin-top: 45px;
		margin-bottom: 5px;
		a{
			background: image-url("back.png") no-repeat 0 0;
			padding: 10px 5px 10px 50px;
			color: #6a1800;
			font-weight: bold;
			font-size: 12px;
		}
	}
}