.mw_iphone{
	.Content{
		background: none;
		padding-top: 0;
		a {
			color: #075899;
		}
		.SubCategoryList, .SubBrandList {
			margin-top: 20px;
			background: #EEF5F9;
			ul{
				list-style: none;
				margin-left: 0;
				li {
					margin-bottom: 4px;
					padding: 10px 30px;
					background: image-url('SubCategory.gif') no-repeat 8px center;
				}
			}
		}
		.SortBox{
			background: #812600;
			border: 1px solid #5f0f02;
			font-weight: bold;
			padding: 12px 10px 9px;
			margin: 0;
			color: #fff;
			background: image-url("plus.png") no-repeat 95% center #812600;
			@include border-radius(5px);
			select{
				background: none;
				border: none;
				color: #fff;
				font-size: 14px;
				vertical-align: middle;
				margin-left: 40px;
				margin-top: 0px;
				padding-top: 0px;
			}
		}
	}
	.Left{
		background: image-url("content_top.png") repeat-x 0 0;
		padding-top: 20px;
		> h2{
			margin-bottom: 15px;
		}
		.ShopByPrice{
			h2{
				background: image-url("plus.png") no-repeat 95% center #812600;
				border: 1px solid #5f0f02;
				font-size: 14px;
				padding: 11px 10px 10px;
				margin: 0;
				color: #fff;
				@include border-radius(5px);
				&[data-ur-state="enabled"]{
					background: image-url("minus.png") no-repeat 95% center #812600;
					@include border-radius(5px 5px 0 0)
				}
			}
			div{
				ul{
					padding: 2px 0 0;
					background-color: #F5F2E1;
					border-left: 1px solid #5f0f02;
					border-right: 1px solid #5f0f02;
					border-bottom: 1px solid #5f0f02;
					@include border-radius(0 0 5px 5px);
					overflow: hidden;
					li{
						display: block;
						width: 100%;
						border-bottom: 1px solid #5f0f02;
						a{
							display: block;
							padding: 11px 15px 10px;
							color: #3D211A;
							background: image-url("menu_go.png") no-repeat 91% center;
						}
						&:last-child{
							padding-bottom: 3px;
							overflow: hidden;
							border-bottom: 0px none #000;
						}
					}					
				}				
			}
		}
	}
}