// Site-wide styles go here
// What shouldn't go here
//   - global declartive classes, mixins, or variables, that goes in -lib.scss

@import "bourbon/_bourbon";

body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	height: 100%;
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4{
	margin: 0;
	padding: 0;
}
h2{
	margin: 5px 0 10px;
}
#Container{
	width: 320px;
	@include clearfix();
}
.Content{
	background: image-url("content_top.png") repeat-x 0 0;
	@include clearfix();
	padding: 15px 10px;
}
#AjaxLoading {
	display: none;
	text-align: center;
	background: #FCF5AA;
	width: 180px;
	z-index: 10000000000;
	padding: 5px 10px;
	img {
		vertical-align: bottom;
		margin-right: 5px;
	}

}
a{
	text-decoration: none;
}
ul{
	margin: 0;
	padding: 0;
	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}
.Left{
	padding: 10px;
}
.Right{
	display: none;
}
.QuickViewBtn, .BrandList, .NewsletterSubscription, .CompareButton, .FeedLink, #CategoryBreadcrumb, .Clear{
	display: none !important;
}
.Block{
	margin-bottom: 5px;
	@include clearfix();
}

.ProductList{
	strong a {
		color: #075899;
	}
	li{
		background-color: #f0f0f0;
		border: 1px solid #e5e5e5;
		width: 284px !important;
		height: auto !important;
		padding: 8px;
		margin-bottom: 10px;
		@include clearfix();
		.ProductDetails{
			margin-bottom: 10px;
			height: auto !important;
		}
		.ProductImage{
			float: left;
			margin-right: 10px;
			background-color: #fff;
			text-align: center;
			a{
				display: table-cell;
				vertical-align: middle;
				height: 120px;
			}
		}
		.ProductPriceRating{
			height: auto !important;
			em {
				color: #F33;
			}	
			span{
				display: block;
			}
		}
		.Rating {
			color: #797979;
		}
		.ProductActionAdd{
			background-color: #6a1802;
			border: 1px solid #661200;
			text-align: center;
			@include border-radius(6px);
			margin-left: 130px;
			width: 105px;
			margin-top: 20px;
			a{
				color: #fff;
				font-size: 11px;
				padding: 4px;
				display: block;
			}
		}
		.ProductCompareButton{
			display: none;
		}
	}
}
