#Footer {
	width: 300px;
	background: image-url("footer_bg.jpg") no-repeat 0 0;
	padding: 14px 10px;
	height: 72px;
	overflow: hidden;
	div{
		text-align: center;
		.mw_currency{
			margin-bottom: 5px;
		}
		span{
			color: #d3b4af;
			font-size: 12px;
		}
		.mw_moovweb{
			span{
				margin-top: 12px;
				margin-bottom: 5px;
				display: block;
				font-style: italic;
				font-size: 11px;
			}
			img{
				display: block;
				margin: auto;
			}
		}

	}
}